.row.col-lg-12
  %h1 Pictures

  %table.table.table-hover
    %tbody 
      %tr
        %th Title
        %th Picture
        %th
        %th
        %th

      - @pictures.each do |picture|
        %tr
          %td= picture.title
          %td= image_tag picture.file.to_s, width: "100px"
          %td= link_to 'Show', picture
          %td= link_to 'Edit', edit_picture_path(picture)
          %td= link_to 'Destroy', picture, :method => :delete, :data => { :confirm => 'Are you sure?' }  
          
  %br
    = link_to 'Upload New Picture', new_picture_path
